<p>
Accomplished, hands-on, creative marketer with a proven track record in
defining brand marketing strategies, delivering successful integrated marketing
campaigns and driving sales and brand awareness.
</p>

<p>
Entrepreneurial marketer, with a marketing career spanning 15 years across
retail, financial services and e-commerce with ownership across brand strategy,
integrated marketing campaigns, partnerships, events and digital marketing.
</p>

<p>
Extensive strategic planning experience, project, team and media/creative
agency management across international matrix environments. High interaction
with C-Level management and directors to drive the business strategy.
</p>

<p>
An excellent communicator, influencer and inquisitive problem-solver that
enjoys the thrill of analysing results and driving actionable insights to
inform best practice and customer understanding.
</p>



<h3>
  Area of Expertise:
</h3>

<div>
  <table>
      <tbody><tr>
        <td>•Marketing Strategy</td>
        <td>•Digital Marketing Campaigns </td>
      </tr>
      <tr>
        <td>•Team Leadership &amp; Training</td>
        <td>•Key Stakeholder Engagement</td>
      </tr>
        <tr>
        <td>•Cost Control / Budget Administration</td>
        <td>•Omni-channel Campaign Planning</td>
      </tr>
        <tr>
        <td>•Research, Diagnosis &amp; Competitive Analysis</td>
        <td>•Client Relationship Development</td>
      </tr>
        <tr>
        <td>•Acquisition and Retention Strategies</td>
        <td>•Product Launches</td>
      </tr>
        <tr>
        <td>•Product Messaging Development</td>
        <td>•Creative &amp; Agency Management</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>
  Key Accomplishments:
</h3>

<ul>
  <li>
    Successfully launched interior product marketing plan across international
    territories within deadline when faced with the challenge of arriving into a
    category 5 months behind schedule
  </li>
  <li>
    Successfully launched Dulux Amazing Space - digital start-up, receiving
    five star customer feedback.
  </li>
  <li>
    Devised through-the-line marketing campaign for a £60M national event exceeding
    sales by 18.8%. Led team to launch inspiration blog site for improved SEO
    increasing organic traffic by 6% in two weeks.
  </li>
  <li>
    Built social content strategy increasing social following and advocacy by more
    than 100% in a month for Dulux.
  </li>
</ul>

<h3>
Education and Credentials
</h3>

<dl>
  <dt>
 Bachelor of Science (Hons) in Marketing
  </dt>
  <dd>
    Aston University – Birmingham (2000 – 2004)
  </dd>
</dl>

<dl>
  <dt>
   CIM Post-graduate Diploma
  </dt>
  <dd>
   Birmingham City University – Birmingham (2005 – 2006)
  </dd>
</dl>

<h3>
Technical Proficiencies
</h3>

<div>
  <ul>
    <li>Google Analytics </li>
    <li>Sprinkler</li>
    <li>Zendesk</li>
    <li>Slack</li>
    <li>Photoshop</li>
    <li>HTML</li>
    <li>BrightEdge SEO</li>
  </ul>
</div>
